@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Yummy Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/main.css" rel="stylesheet">
</head>

<body dir="rtl">

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
                <h1>نانوا<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#hero">خانه</a></li>
                    <li><a href="#menu">منو</a></li>
                    @*<li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>*@
                    <li><a href="#contact">تماس</a></li>
                </ul>
            </nav><!-- .navbar -->

            <a class="btn-book-a-table" href="#book-a-table">سفارش آنلاین</a>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">نان داغ<br>انواع نان</h2>
                    <p data-aos="fade-up" data-aos-delay="100">ارسال انواع نان در کمترین زمان ممکن در هر نقطه از شهر </p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="#book-a-table" class="btn-book-a-table">سفارش آنلاین</a>
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>تماشای ویدئو</span></a>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="~/Content/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4">
                    <div class="col-lg-12 d-flex align-items-center">
                        <div class="row gy-4">

                            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4>بسته بندی</h4>
                                    <p>نان به صورت بندی شده با رعایت تمامی نکات بهداشتی با مجوز از سازمان غذا و دارو برای شما ارسال خواهد شد.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-gem"></i>
                                    <h4>پیک</h4>
                                    <p>بعد از ثبت سفارش نان توسط پیک از نزدیک ترین نانوایی به موفعیت ثبت شده برای شما ارسال میشود.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-inboxes"></i>
                                    <h4>نانوایی</h4>
                                    <p>تیم نانوا همیشه در حال ارتباط با تمای نانوایی سطح شهر بوده تا در کمترین زمان برای شما ارسال شود.</p>
                                </div>
                            </div>

                            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-inboxes"></i>
                                    <h4>موقعیت مکانی</h4>
                                    <p>تیم نانوا در استان همدان شهرستان همدان شروع به فعالیت کرده تا کمک حال مردم عزیز باشد.</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Stats Counter Section ======= -->
        <section id="stats-counter" class="stats-counter">
            <div class="container" data-aos="zoom-out">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p>سنگک</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p>لواش</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                            <p>بربری</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                            <p>فانتزی</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>
        </section><!-- End Stats Counter Section -->
        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>منو نانوا</h2>
                    <p>سایر <span>منو نانوا</span></p>
                </div>

                <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                            <h4>سنگک</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                            <h4>لواش</h4>
                        </a><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                            <h4>بربری</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                            <h4>فانتری</h4>
                        </a>
                    </li><!-- End tab nav item -->

                </ul>

                <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

                    <div class="tab-pane fade active show" id="menu-starters">

                        <div class="tab-header text-center">
                            <p>منو</p>
                            <h3>سنگک</h3>
                        </div>

                        <div class="row gy-5">

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/62681fbb926fe.jpg" class="glightbox"><img src="~/Content/img/menu/62681fbb926fe.jpg" class="menu-img img-fluid" alt=""></a>
                                <h4>سنگک ساده</h4>
                                <p class="ingredients">
                                    یک عدد
                                </p>
                                <p class="price">
                                    2,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/6203aed3d72d1.jpg" class="glightbox"><img src="~/Content/img/menu/6203aed3d72d1.jpg" class="menu-img img-fluid" alt=""></a>
                                <h4>سنگک کنجدی</h4>
                                <p class="ingredients">
                                    یک عدد
                                </p>
                                <p class="price">
                                    2,500 تومان
                                </p>
                            </div><!-- Menu Item -->

                        </div>
                    </div><!-- End Starter Menu Content -->

                    <div class="tab-pane fade" id="menu-breakfast">

                        <div class="tab-header text-center">
                            <p>منو</p>
                            <h3>لواش</h3>
                        </div>

                        <div class="row gy-5">
                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/64760d9a5e123.jpeg" class="glightbox"><img src="~/Content/img/menu/64760d9a5e123.jpeg" class="menu-img img-fluid" alt=""></a>
                                <h4>تافتون</h4>
                                <p class="ingredients">
                                    بسته 10 عددی
                                </p>
                                <p class="price">
                                    30,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                        </div>
                    </div><!-- End Breakfast Menu Content -->

                    <div class="tab-pane fade" id="menu-lunch">

                        <div class="tab-header text-center">
                            <p>منو</p>
                            <h3>بربری</h3>
                        </div>

                        <div class="row gy-5">

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/6464c21a0c0ba.jpg" class="glightbox"><img src="~/Content/img/menu/6464c21a0c0ba.jpg" class="menu-img img-fluid" alt=""></a>
                                <h4>بربری ساده</h4>
                                <p class="ingredients">
                                    یک عدد
                                </p>
                                <p class="price">
                                    2,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/6464c21a0c0ba.jpg" class="glightbox"><img src="~/Content/img/menu/6464c21a0c0ba.jpg" class="menu-img img-fluid" alt=""></a>
                                <h4>بربری پرکنجد</h4>
                                <p class="ingredients">
                                    یک عدد
                                </p>
                                <p class="price">
                                    3,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                        </div>
                    </div><!-- End Lunch Menu Content -->

                    <div class="tab-pane fade" id="menu-dinner">

                        <div class="tab-header text-center">
                            <p>منو</p>
                            <h3>فانتزی</h3>
                        </div>

                        <div class="row gy-5">

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/607143efd5c4a.jpeg" class="glightbox"><img src="~/Content/img/menu/607143efd5c4a.jpeg" class="menu-img img-fluid" alt=""></a>
                                <h4>نان نیم باگت</h4>
                                <p class="ingredients">
                                    بسته 3 عددی
                                </p>
                                <p class="price">
                                    15,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                            <div class="col-lg-4 menu-item">
                                <a href="~/Content/img/menu/60714cd1b2cd1.jpeg" class="glightbox"><img src="~/Content/img/menu/60714cd1b2cd1.jpeg" class="menu-img img-fluid" alt=""></a>
                                <h4>نان نیم باگت کنجد دار</h4>
                                <p class="ingredients">
                                    بسته 3 عددی
                                </p>
                                <p class="price">
                                    20,000 تومان
                                </p>
                            </div><!-- Menu Item -->

                        </div>
                    </div><!-- End Dinner Menu Content -->

                </div>

            </div>
        </section><!-- End Menu Section -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="نام و نام خانوادگی" required>
                        </div>
                        <div class="col-xl-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="توضیحات" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">ارسال پیام</button></div>
                </form><!--End Contact Form -->

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        <h4>آدرس</h4>
                        <p>
                            همدان-خیابان دانش <br>
                            طبقه همکف  <br>پلاک 25
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>راه ارتباطی</h4>
                        <p>
                            <strong>تلفن:</strong> 09389135003<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>ساعت کاری</h4>
                        <p>
                            <strong>همه روزه </strong>از ساعت 6 صبح تا 8 شب<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>شبکه اجتماعی</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

</body>

</html>