@model Nanva.Function.ChengePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">آنی سرویس</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر کلمه عبور </li>
        </ul>
    </nav>
</div>
<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    @RenderPage("~/Areas/UserPanel/Views/Shared/_SiteBarRigthUserPanelPartialView.cshtml", false)
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1>تغییر کلمه عبور </h1></header>
                        <div class="inner form-layer">
                            @if (ViewBag.Issuccess == true)
                            {
                                <div id="divalert" class="alert alert-success ">
                                    کلمه عبور شما با  موفقیت تغییر یافت
                                </div>
                            }
                            else if (ViewBag.Issuccess == false)
                            {
                                <div id="divalert"  class="alert alert-danger  ">
                                    کلمه عبور تغییر نکرد دوباره تلاش کنید.
                                </div>
                            }
                            @if (ViewBag.Issuccess != null)
                            {
                                <script>
                                    var delay = 4000;
                                    setTimeout(function () {
                                        $('#divalert').hide();
                                    }, delay);
                                </script>
                            }
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <input name="OldPassword" type="password" class="form-control" placeholder="کلمه عبور فعلی">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <input name="NewPassword" type="password" class="form-control" placeholder="کلمه عبور جدید">
                                        </div>
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <input name="ConfirmPassWord" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button type="submit" class="btn btn-success"> تغییر کلمه عبور </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
